/* Общие стили */

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;

}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.button {
    border: 1px solid #000;
    border-radius: 20px;
    min-height: 40px;
    font: inherit;
    padding: 10px 23px;
    cursor: pointer;
    background-color: #fff;
}

/* Стили шапки */

.catalog {
    height: 400px;
    background-image: url(img/catalog/bak-top.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__heading {
        margin-top: 128px;
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 600;
        line-height: 70px;
        letter-spacing: 0%;
        text-align: left;
    }
}
/* Стили продуктов */

.product {
    padding-top: 64px;

    &__nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 41px;
    }
    
    &__link {
        display: flex;
        gap: 10px;

        &-index {
            color: $dark;
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0%;
            text-align: left;
        }
        
        &-index:hover{
            text-decoration: underline;
        }
        
        &-p {
            color: $dark;
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0%;
            text-align: left;
        }

        &-catalog {
            color: $dark;
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0%;
            text-align: left;
        }
        
        &-catalog:hover {
            text-decoration: underline;
        }
    }

    &__filters {
        display: flex;
        gap: 10px;
    }

    &__details {


        &-summary {
            border: 1px solid rgb(196, 196, 196);
            width: 100%;
            display: block;
            background-image: url(img/catalog/Polygon\ 1.svg);
            background-repeat: no-repeat;
            background-position: right center;
        }

        &-popularity {
            box-sizing: border-box;
            border: 1px solid rgb(196, 196, 196);
            border-radius: 20px;
            border-color: #c4c4c4;
            color: rgb(0, 0, 0);
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0%;
            width: 210px;
            height: 40px;

            &-summary {
                display: block;
                background-image: url(img/catalog/Polygon\ 1.svg);
                background-repeat: no-repeat;
                background-position: right center;
                width: 170px;
            }
        }

        &-sorting {
            appearance: none;
            background-image: url(img/catalog/Polygon\ 1.svg);
            background-repeat: no-repeat;
            background-position: right 8px center;
            padding-top: 9px;
            padding-bottom: 11px;
            padding-left: 23px;
            padding-right: 14px;
            box-sizing: border-box;
            border: 1px solid rgb(196, 196, 196);
            border-radius: 20px;
            color: $dark;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: left;
            width: 210px;
        }
    }

    &__filter {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        &-form {
            position: absolute;
            top: calc(100% + 14px);
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 36px;
            background-color: #fff;
            box-shadow: 0px 4px 67px -12px rgba(0,0,0,0.32);
            padding: 40px 48px;
        }

        &-content {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 32px 65px;
            max-height: 548px;
            min-width: 540px;
        }

        &-fieldset {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 0;
            border: none;

            &--type {
                padding-right: 40px;
            }
        }

        &-legend {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 16px;
        }

        &-button {
            box-sizing: border-box;
            border: 1px solid rgb(196, 196, 196);
            border-radius: 20px;
            border-color: #c4c4c4;
            color: rgb(0, 0, 0);
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: center;
            max-width: 182px;
            width: 100%;
            height: 40px;
        }
    }

    &__radio {
        display: flex;
        align-items: center;
        gap: 10px;

        &-input {
            display: none;
        }

        &-label {
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;
            padding-left: 30px;
            font-size: 14px;
        }

        &-label::before {
            content: "";
            width: 14px;
            height: 14px;
            border: 1px solid #888888;
            border-radius: 50%;
            position: absolute;
            left: 0;
            background-color: #fff;
        }

        &-input:checked + &-label::before
        {
            border-color: #000;
            background-image: url(img/catalog/galochka.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__range {
        display: flex;
        flex-direction: column;
        gap: 14px;

        &-input {
            width: 190px;
            height: 10px;
            overflow: hidden;
            outline: none;
        }

        &-input,
        &-input::-webkit-slider-runnable-track,
        &-input::-webkit-slider-thumb {
            -webkit-appearance: none;
            background: none;
        }
        &-input::-webkit-slider-runnable-track {
            width: 200px;
            height: 1px;
            background: #000;
        }
        
        &-input:nth-child(2)::-webkit-slider-runnable-track {
            background: none;
        }

        &-input::-webkit-slider-thumb {
            position: relative;
            height: 8px;
            width: 8px;
            margin-top: -4px;
            background: #000;
            border: 1px solid #000;
            border-radius: 25px;
            cursor: pointer;
            z-index: 1;
        }

        &-input::-webkit-slider-thumb:active {
            cursor: grabbing;
        }

        &-input:nth-child(1)::-webkit-slider-thumb {
            z-index: 2;
        }

        &-slider {
            font-family: sans-serif;
            font-size: 14px;
            position: relative;
            height: 20px;
            width: 210px;
            display: inline-block;
            margin-top: -5px;
        }
    }

    &__color {
        display: flex;
        flex-wrap: wrap;
        max-width: 190px;
        gap: 14px;

        &-checkbox {
            width: 15px;
            height: 15px;
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;
        gap: 10px;

        &-input {
            display: none;
        }

        &-label {
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;
            padding-left: 30px;
            font-size: 14px;
        }

        &-label::before {
            content: "";
            display: inline-block;
            width: 14px;
            height: 14px;
            border: 1px solid #888888;
            position: absolute;
            left: 0;
            background-color: #fff;
        }

        &-input:checked + &-label::before {
            background-image: url(img/catalog/tick-color.svg);
            background-repeat: no-repeat;
            background-position: center;
            border-color: #000;
        }

        &-label--white::before {
            background-color: #fff;
            border-color: #888888;
        }

        &-label--black::before {
            background-color: #000;
            border-color: #000;
        }

        &-label--gray::before {
            background-color: #737373;
            border-color: #737373;
        }

        &-label--red::before {
            background-color: #f00;
            border-color: #f00;
        }

        &-label--orange::before {
            background-color: #ff4500;
            border-color: #ff4500;
        }

        &-label--yellow::before {
            background-color: #ff0;
            border-color: #ff0;
        }

        &-label--green::before {
            background-color: #008000;
            border-color: #008000;
        }

        &-label--teal::before {
            background-color: #40e0d0;
            border-color: #40e0d0;
        }

        &-label--light-blue::before {
            background-color: #ADD8E6;
            border-color: #ADD8E6;
        }

        &-label--blue::before {
            background-color: #0000FF;
            border-color: #0000FF;
        }

        &-label--purpule::before {
            background-color: #800080;
            border-color: #800080;
        }

        &-label--violet::before {
            background-color: #EE82EE;
            border-color: #EE82EE;
        }

        &-label--lavender::before {
            background-color: #E6E6FA;
            border-color: #E6E6FA;
        }

        &-label--pink::before {
            background-color: #FFC0CB;
            border-color: #FFC0CB;
        }

        &-input:checked + &-label--black::before {
            background-image: url(img/catalog/tick-white.svg);
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        column-gap: 32px;
        row-gap: 48px;
    }
    
    &__box {
        width: 378px;
        display: flex;
        flex-direction: column;
    }
    
    &__img {
        width: 100%;
    }
    
    &__title {
        color: $dark;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }
    
    &__text {
        color: $dark-grey;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
    }
    
    &__price {
        display: flex;
        gap: 32px;
    }
    
    &__cost {
        color: rgb(5, 5, 5);
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }
    
    &__discount {
        color: $dark-grey;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
        text-decoration-line: line-through;
    }
    
    &__footer {
        margin-top: 32px;

        &-link {
            color: $dark;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: left;
            text-decoration: underline;
        }
        
        &-link:hover {
            text-decoration: none;
            color: gray;
        }
    }
}

/* Стили подвал */
